
* {
  font-family: Oxygen;
}
.logincard {
  margin-top: 8rem;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  font-family: Roboto;
}

.createPost-card{
  padding: 50px;
  text-align: center;
  max-width: 600px;
  margin: 8rem auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}
.collection-item{
  width: 100%;
}
.material-icons:hover{
  cursor: pointer;
}